In [12]:
# Para no tener que reiniciar el kernel
%load_ext autoreload
%autoreload 2

# Tratamiento de datos
# -----------------------------------------------------------------------
import numpy as np
import pandas as pd

import math

# Visualizaciones
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
import plotly  as px


# Para el modelado de los datos
# -----------------------------------------------------------------------
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, davies_bouldin_score

# Preprocesado y modelado
# -----------------------------------------------------------------------
from sklearn.preprocessing import StandardScaler


# Sacar número de clusters y métricas
# -----------------------------------------------------------------------
from yellowbrick.cluster import KElbowVisualizer
from sklearn.metrics import silhouette_score

# Modelos de clustering
# -----------------------------------------------------------------------
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import DBSCAN
from sklearn.cluster import SpectralClustering

# Para visualizar los dendrogramas
# -----------------------------------------------------------------------
import scipy.cluster.hierarchy as sch
# Configuración warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings('ignore')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
# Insertamos los soportes de nuestro src

from src import soporte_clustering as sc

In [14]:
df = pd.read_csv('datos/Global_Superstore.csv', encoding='latin-1')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,05-11-2013,06-11-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [15]:
# instanciamos la clase de Exploración de datos antes de aplicar el algoritmo
preprocesar = sc.Exploracion(df)

# llamamos al método de exploración de datos
preprocesar.explorar_datos()

5 registros aleatorios:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
25091,16799,ES-2014-1275584,26-08-2014,30-08-2014,Standard Class,DG-13300,Deirdre Greer,Corporate,Cologne,North Rhine-Westphalia,...,FUR-FU-10003500,Furniture,Furnishings,"Rubbermaid Photo Frame, Duo Pack",103.62,2,0.0,37.26,8.16,Medium
6758,24804,ID-2014-25497,16-06-2014,19-06-2014,Second Class,LH-17020,Lisa Hazard,Consumer,Gujranwala,Punjab,...,TEC-CO-10000666,Technology,Copiers,"Hewlett Copy Machine, Laser",526.62,4,0.5,-221.22,50.68,High
18370,51093,GH-2014-4170,10-07-2014,13-07-2014,First Class,DW-3480,Dianna Wilson,Home Office,Accra,Greater Accra,...,TEC-MOT-10002560,Technology,Phones,"Motorola Signal Booster, Full Size",144.42,1,0.0,23.10,14.44,Medium
37169,24109,IN-2012-11014,04-06-2012,09-06-2012,Second Class,MD-17860,Michael Dominguez,Corporate,Lanxi,Zhejiang,...,OFF-LA-10003396,Office Supplies,Labels,"Avery Color Coded Labels, Laser Printer Compat...",26.58,2,0.0,5.82,2.96,Medium
47776,43597,MO-2014-340,14-11-2014,18-11-2014,Standard Class,NS-8640,Noel Staavos,Corporate,Marrakech,Marrakech-Tensift-El Haouz,...,OFF-AVE-10000432,Office Supplies,Binders,"Avery Index Tab, Clear",11.58,2,0.0,3.12,0.77,Medium

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(5), int64(2), object(17)
memory usage: 9.4+ MB
None


Duplicados en el DataFrame:
0


Estadísticas descriptivas de las columnas numéricas:

,count,mean,std,min,25%,50%,75%,max
Row ID,51290.0,25645.500000,14806.291990,1.000,12823.250000,25645.500,38467.7500,51290.000
Postal Code,9994.0,55190.379428,32063.693350,1040.000,23223.000000,56430.500,90008.0000,99301.000
Sales,51290.0,246.490581,487.565361,0.444,30.758625,85.053,251.0532,22638.480
Quantity,51290.0,3.476545,2.278766,1.000,2.000000,3.000,5.0000,14.000
Discount,51290.0,0.142908,0.212280,0.000,0.000000,0.000,0.2000,0.850
Profit,51290.0,28.610982,174.340972,-6599.978,0.000000,9.240,36.8100,8399.976
Shipping Cost,51290.0,26.375915,57.296804,0.000,2.610000,7.790,24.4500,933.570

Estadísticas descriptivas de las columnas categóricas:

                count unique              top   freq
Order ID        51290  25035   CA-2014-100111     14
Order Date      51290   1430       18-06-2014    135
Ship Date       51290   1464       22-11-2014    130
Ship Mode       51290      4   Standard Class  30775
Customer ID     51290   1590         PO-18850     97
Customer Name   51290    795  Muhammed Yedwab    108
Segment         51290      3         Consumer  26518
City            51290   3636    New York City    915
State           51290   1094       California   2001
Country         51290    147    United States   9994
Market          51290      7             APAC  11002
Region          51290     13          Central  11117
Product ID      51290  10292  OFF-AR-10003651     35
Category        51290      3  Office Supplies  31273
Sub-Category    51290     17          Binders   6152
Product Name    51290   3788          Staples    227
Order Priority  51290      4           Medium  29433

Número de valores nulos por columna:
Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64


Distribución de valores categóricos:

Columna: Order ID
Order ID
CA-2014-100111     14
IN-2012-41261      13
TO-2014-9950       13
IN-2013-42311      13
NI-2014-8880       13
                   ..
ES-2013-1579342     1
MX-2012-134460      1
IN-2013-34366       1
US-2011-152723      1
CA-2012-162544      1
Name: count, Length: 25035, dtype: int64

Columna: Order Date
Order Date
18-06-2014    135
18-11-2014    127
03-09-2014    126
20-11-2014    118
29-12-2014    116
             ...
02-01-2011      1
19-02-2012      1
07-07-2013      1
27-05-2012      1
06-02-2011      1
Name: count, Length: 1430, dtype: int64

Columna: Ship Date
Ship Date
22-11-2014    130
07-09-2014    115
07-12-2014    101
17-11-2014    101
29-11-2014    100
             ...
14-04-2011      3
25-01-2011      3
03-01-2011      2
06-01-2011      2
05-01-2011      2
Name: count, Length: 1464, dtype: int64

Columna: Ship Mode
Ship Mode
Standard Class    30775
Second Class      10309
First Class        7505
Same Day           2701
Name: count, dtype: int64

Columna: Customer ID
Customer ID
PO-18850    97
BE-11335    94
JG-15805    90
SW-20755    89
MY-18295    85
            ..
BG-1035      1
MG-7650      1
ME-8010      1
MG-7890      1
ZC-11910     1
Name: count, Length: 1590, dtype: int64

Columna: Customer Name
Customer Name
Muhammed Yedwab    108
Steven Ward        106
Gary Hwang         102
Patrick O'Brill    102
Bill Eplett        102
                  ...
Emily Burns         35
David Bremer        34
Darren Budd         31
Nicole Brennan      31
Michael Oakman      29
Name: count, Length: 795, dtype: int64

Columna: Segment
Segment
Consumer       26518
Corporate      15429
Home Office     9343
Name: count, dtype: int64

Columna: City
City
New York City     915
Los Angeles       747
Philadelphia      537
San Francisco     510
Santo Domingo     443
                 ...
Stadtlohn           1
Elyria              1
Layton              1
Tartagal            1
Vanderbijlpark      1
Name: count, Length: 3636, dtype: int64

Columna: State
State
California            2001
England               1499
New York              1128
Texas                  985
Ile-de-France          981
                      ...
Caras-Severin            1
Pernik                   1
Edirne                   1
Kabarole                 1
Matabeleland North       1
Name: count, Length: 1094, dtype: int64

Columna: Country
Country
United States    9994
Australia        2837
France           2827
Mexico           2644
Germany          2065
                 ...
South Sudan         2
Bahrain             2
Swaziland           2
Burundi             2
Eritrea             2
Name: count, Length: 147, dtype: int64

Columna: Market
Market
APAC      11002
LATAM     10294
EU        10000
US         9994
EMEA       5029
Africa     4587
Canada      384
Name: count, dtype: int64

Columna: Region
Region
Central           11117
South              6645
EMEA               5029
North              4785
Africa             4587
Oceania            3487
West               3203
Southeast Asia     3129
East               2848
North Asia         2338
Central Asia       2048
Caribbean          1690
Canada              384
Name: count, dtype: int64

Columna: Product ID
Product ID
OFF-AR-10003651    35
OFF-AR-10003829    31
OFF-BI-10003708    30
OFF-BI-10002799    30
FUR-CH-10003354    28
                   ..
OFF-FA-10002992     1
OFF-LA-10001287     1
OFF-EN-10003604     1
OFF-PA-10001448     1
OFF-LA-10001256     1
Name: count, Length: 10292, dtype: int64

Columna: Category
Category
Office Supplies    31273
Technology         10141
Furniture           9876
Name: count, dtype: int64

Columna: Sub-Category
Sub-Category
Binders        6152
Storage        5059
Art            4883
Paper          3538
Chairs         3434
Phones         3357
Furnishings    3170
Accessories    3075
Labels         2606
Envelopes      2435
Supplies       2425
Fasteners      2420
Bookcases      2411
Copiers        2223
Appliances     1755
Machines       1486
Tables          861
Name: count, dtype: int64

Columna: Product Name
Product Name
Staples                                                             227
Cardinal Index Tab, Clear                                            92
Eldon File Cart, Single Width                                        90
Rogers File Cart, Single Width                                       84
Ibico Index Tab, Clear                                               83
                                                                   ...
4009 Highlighters                                                     1
Stride Job 150 Highlighters, Chisel Tip, Assorted Colors              1
Cisco 8961 IP Phone Charcoal                                          1
Xerox Blank Computer Paper                                            1
Eureka Disposable Bags for Sanitaire Vibra Groomer I Upright Vac      1
Name: count, Length: 3788, dtype: int64

Columna: Order Priority
Order Priority
Medium      29433
High        15501
Critical     3932
Low          2424
Name: count, dtype: int64
Matriz de correlación entre variables numéricas:

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
Row ID,1.000000,0.009671,-0.043889,-0.173483,0.087594,-0.019037,-0.039078
Postal Code,0.009671,1.000000,-0.023854,0.012761,0.058443,-0.029961,-0.025449
Sales,-0.043889,-0.023854,1.000000,0.313577,-0.086722,0.484918,0.768073
Quantity,-0.173483,0.012761,0.313577,1.000000,-0.019875,0.104365,0.272649
Discount,0.087594,0.058443,-0.086722,-0.019875,1.000000,-0.316490,-0.079056
Profit,-0.019037,-0.029961,0.484918,0.104365,-0.316490,1.000000,0.354441
Shipping Cost,-0.039078,-0.025449,0.768073,0.272649,-0.079056,0.354441,1.000000

La columna Postal Code es la única con nulos, que por otra parte son muchos, difícil imputarla con precisión y sobre todo, de cara a agrupar en clusters no es una columna importante, pues de hecho podríadar lugar a un agrupamiento demasiado específico. Por todo lo anterior la vamos a eliminar.

In [19]:
df = df.drop(columns="Postal Code")
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,05-11-2013,06-11-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

Visualizamos las variables numéricas